@import 'bootstrap/dist/css/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  margin: 0;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toggler{
  transition: ease-in 2s linear;
}
.mask-custom-1 {
  backdrop-filter: blur(15px) !important;
  background-color: rgba(255, 255, 255, .2) !important ;
  border-radius: 3em !important;
  border: 2px solid rgba(255, 255, 255, .1) !important;
  background-clip: padding-box !important;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03) !important;
}

/* @layer base { 
  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-5xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }
  a.active,a.focus{
    @apply bg-primary text-white
  }
} */

/* @layer components{
  .card{
    @apply w-full hover:-translate-y-1 transition-all md:w-[calc(50%_-_20px)] lg:w-[calc(25%_-_20px)] flex flex-col gap-y-4 h-52 rounded-lg drop-shadow-md hover:drop-shadow-lg
  }
  .backdrops{
    @apply bg-white/30 backdrop-blur-2xl backdrop-filter
  }
} */
/* .card{
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(143, 149, 154, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
} */
/* .glass{
  filter: blur(2px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.041)! important; 
} */
.card-size{
    width: calc(25% - 20px);
    background-color: aquamarine;
}